<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <title>Midnight Museum</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% endblock %}
    {% block extend_head %}
    {% endblock %}
</head>
<body>
    <h1><a href="/">Midnight Museum</a></h1>
    <sub>of that one time at Burningman</sub>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <!-- &copy; Copyright 2022 by <a href="http://domain.invalid/">you</a>. -->
        {% endblock %}
    </div>
</body>
</html>
