{% extends "base.html" %}
{% block content %}
<h2>Lantern Setup</h2>

<p>Below shows the relative location of each lantern.</p>
<p>Each position indicates the host name or IP of the lightbulb.</p>

<form action="/lanterns" method="post">

    <table>
        {% for hosts in g.setup.assignment %}
        <tr>
        {% set row_num = loop.index0 %}
            {% for host in hosts %}
            {% set col_num = loop.index0 %}
            <td style="text-align:center;padding-top:30px;padding-bottom:30px">

                {{ row_num * 5 + col_num + 1 }} :: {{ row_num }}/{{col_num}}
                <br/>
                <input name="host_{{row_num}}_{{col_num}}", value="{{host or ''}}" />
                {% if host %}
                <hr>
                <a href="http://{{host}}">{{host}}</a>
                {% endif %}

            </td>
            {% endfor %}
        </tr>
        {% endfor %} 

    </table>

<p><input type = "submit" value = "save changes" /></p>
</form>

{% endblock %}
